<div class="m_con">
    <div class="btm_con">
        <div>
            <ui class="btm_nav">
                <li data-class="code_tab" class="active">代码</li>
                <li data-class="preview_tab">预览</li>
                <li data-class="html_tab">html</li>
            </ui>
        </div>
        <div>
            <div class="code_tab">
                <textarea name="" id="serializedCode"></textarea>
            </div>
            <div class="preview_tab">
                <div id="preview">
                </div>
            </div>
            <div class="html_tab">
                <textarea name="" id="htmlCode"></textarea>
            </div>
        </div>
    </div>

    <div class="btn_con">
        <input type="button" value="解析" id="parse" />
    </div>
</div>
