<div class="week-view" v-on:mouseenter="active = !active" v-on:mouseleave="active = !active">
    <div class="week-title">
        <input class="date-input" type="text" v-model="week.date">计划
    </div>
    <div class="week-delete" v-on:click="deleteWeek" v-show="active">
        <i class="icon-delete-week"></i>
    </div>
    <div class="task-list">
        <task v-for="(index, task) in week.taskList" v-bind:task.sync="task" v-bind:task-index="index"
        :date="week.date"></task>
        <div class="add-task" v-on:click="addTask">
            + 增加任务
        </div>
    </div>
</div>
