.nav {
    background: #54D09F;
    width: 100%;
    height: 6rem;
    padding: 0 1rem;

    .router {
        float: left;
        a {
            margin-right: 1rem;
        }
        h4 {
            display: inline-block;
        }
    }

    .user {
        margin-top: 1.5rem;
        float: right;
    }

    input {
        border: none;
        background-color: #54D09F;
    }
}

.main {
    position: fixed;
    top: 6rem;
    left: 0;
    right: 0;
    bottom: 0;
}

[contenteditable=true]:focus {
    outline: none;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: #979797;
}

input,button,select,textarea{outline:none}
textarea{resize:none}

