.week-view {
    background: #eee;
    width: 40rem;
    border-radius: 0.5rem;
    height: 100%;
    padding: 2rem;
    padding-right: 1rem;
    margin-right: 1rem;
    display: inline-block;
    position: relative;

    .week-title {
        font-size: 1.8rem;
        padding-bottom: 0.5rem;
    }

    .task-list {
        height: 95%;
        overflow: auto;
        padding-right: 1rem;
    }

    .add-task {
        color: #4A90E2;
        cursor: pointer;
    }

    .date-input {
        border: none;
        background: #eee;
        width: 10rem;
    }

    .week-delete {
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: -1rem;
        right: -1rem;
    }
}
